<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reserva de hotel</title>
  </head>
  <body>

    <a href="/index/voltar">Voltar</a>

    <h1>Formulário de Reserva de hotel</h1>

    <form action="/exe08-result" method="get">
      <label for="name"> Nome: </label>
      <input type="nome" id="name" name="name" required />
      <br /><br />

      <label for="email"> Email: </label>
      <input type="email" id="mail" name="mail" />
      <br /><br />

      <label for="date"> Data de check-in: </label>
      <input type="date" id="date" name="in" required />
      <br/><br/>

      <label for="data"> Data de check-out:</label>
      <input type="date" id="date" name="out" required />
      <br/><br>

      <label for="number"> Números de hóspedes: </label>
      <input type="number" id="numero" nome="numero" />
      <br/><br/>

      <label for="type"> Preferência de quarto: </label>
      <select name="tipos de quarto:">
          <option name="quartos" value="none"> </option>
          <option name="quartos" value="simples">Simples</option>
          <option name="quartos" value="duplo">Duplo</option>
          <option name="quartos" value="suíte"> Suíte </option>
      </select>
      <br/><br/>

      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
