<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Lista de Exercicios 02</h2>
    <a href="/index/exe01">exe01</a> |
    <a href="/index/exe02">exe02</a> |
    <a href="/index/exe01">exe03</a> |
    <a href="/index/exe04">exe04</a> |
    <a href="/index/exe05">exe05</a> |
    <a href="/index/exe06">exe06</a> |
    <a href="/index/exe07">exe07</a> |
    <a href="/index/exe08">exe08</a> |
    <a href="/index/exe09">exe09</a> |
    <a href="/index/exe10">exe10</a> |
</body>
</html>